# Example Environment variables for bakery_notification_service
ACTIVE_PROFILE=
BREVO_API_KEY=
CONFIG_SERVER_URL=
EUREKA_URL=
KAFKA_BOOTSTRAP_SERVERS=
NOTIFICATION_DB_PASSWORD=
NOTIFICATION_DB_URL=
NOTIFICATION_DB_USER=
NOTIFICATION_FROM_EMAIL=
NOTIFICATION_REPLY_TO=

SERVER_PORT=
EMAIL_ENABLED=

TEMPLATE_AUTH_WELCOME=
TEMPLATE_AUTH_OTP=
TEMPLATE_AUTH_PASSWORD_CHANGE=
TEMPLATE_AUTH_NEW_SIGN_IN=
TEMPLATE_ORDER_CONFIRMATION=
TEMPLATE_ORDER_INVOICE=
TEMPLATE_ORDER_DELIVERY=
TEMPLATE_PAYMENT_SUCCESS=
TEMPLATE_PAYMENT_REFUND=
TEMPLATE_FEEDBACK_GENERAL=
TEMPLATE_FEEDBACK_REVIEW=
