CONFIG_SERVER_URL=http://bakery-config-server:8021
NOTIFICATION_DB_URL=jdbc:postgresql://bakery-notifications-db:5432/bakery_notifications
NOTIFICATION_DB_USER=notification_user
NOTIFICATION_DB_PASSWORD=your_notification_db_password
MAIL_USERNAME=your_mail_username
MAIL_PASSWORD=your_mail_password
KAFKA_BOOTSTRAP_SERVERS=bakery-kafka:9092
EUREKA_URL=http://bakery-eureka-server:8761/eureka/
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_SNS_ANDROID_PLATFORM_ARN=arn:aws:sns:region:account-id:target
AWS_SNS_GENERAL_TOPIC_ARN=arn:aws:sns:region:account-id:target
AWS_SNS_MARKETING_TOPIC_ARN=arn:aws:sns:region:account-id:target
AWS_SNS_ORDERS_TOPIC_ARN=arn:aws:sns:region:account-id:target
NOTIFICATION_FROM_EMAIL=your_notification_from_email
NOTIFICATION_REPLY_TO=support@shahs-bakery.com
BREVO_API_KEY=your_brevo_api_key
SMS_ENABLED=false
PUSH_ENABLED=true
